* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    font-family: 'Prompt', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 9px;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4f88bd;
    border-radius: 10px;

}

header {
    display: flex;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    background-color: #75AADB;
    flex-wrap: wrap;

}

.cont-img {
    width: 100px;
}

.cont-img img {
    height: 100px;
    width: 100%;
    border-radius: 50%;
}


.nav * {
    font-size: 18px;
    list-style: none;
    color: black;
}

.nav ul:first-child {
    display: flex;

}

.nav ul:first-child>li:hover {
    transform: scale(1.09);
}

.nav ul:first-child>li {
    margin: 10px;
    transition: all .4s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li a:hover {
    background-color: #37658f;
    color: white;
}

.dropdown-content a {
    color: black;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown button {
    background-color: transparent;
    cursor: pointer;
}




header div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;

}


.hero-section {
    height: 84.5vh;
    background-image: url('https://i.pinimg.com/564x/cd/3e/0a/cd3e0a881103bfcba83d12881821088b.jpg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.hero-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.hero-section h2 {
    font-size: 45px;
}


.mundial {
    display: flex;
    justify-content: space-around;
    margin-bottom: 34px;
    width: 100%;
    padding: 9vh 0;
}

.container-img {
    width: 45%;
    min-height: 50%;
    border: 3px solid black;
}

.container-img img {
    width: 100%;
    height: 100%;
}


.cont-mundiales h2 {
    margin-bottom: 80px;
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
}

.cont-mundiales {
    background-image: url('https://i.pinimg.com/564x/c9/b6/a0/c9b6a050650e981bdccab636fc49cfbc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    color: white;
}

.info {
    width: 50%;
    color: black;
    font-weight: bolder;
}

.info p {
    width: 95%;
}

.info h3 {
    margin-bottom: 12px;
    font-size: 26px;
    border-bottom: 2px solid;
}

.info p {
    font-size: 20px;
}


.fondo-equipo {
    background-image: url('https://i.pinimg.com/564x/98/3f/db/983fdb34b526115ecc5a8c68f93687b6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


#jugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#jugadores article {
    width: 270px;
    border: 5px solid;
    margin: 20px;
    padding: 5px;
}

#jugadores article div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#jugadores article div div:first-child {
    width: 210px;
    height: 230px;
    margin-bottom: 10px;
}

#jugadores img {
    width: 100%;
    height: 100%;
}

.info-jug h3 {
    margin-bottom: 5px;

}

.info-jug .detalles-jug {
    display: none;

}

.info-jug .detalles-jug.mostrar {
    display: block;
    font-weight: bolder;
}

.info-jug button {
    padding: 5px 10px;
    font-size: 15px;
    background-color: transparent;
    border: 1.5px solid black;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 4px;
}

.equipo {
    font-size: 35px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header div:nth-child(2) {
        width: 100%;
    }

    .cont-img {
        width: 70px;
    }

    .nav ul:first-child {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul:first-child>li {
        margin: 5px 0;
    }

    .mundial {
        flex-direction: column;
        align-items: center;
    }

    .container-img {
        margin-top: 30px;
        height: 300px;
        width: 56%;
    }
}

@media screen and (max-width: 480px) {
    .cont-img {
        width: 50px;
    }

    .nav ul:first-child {
        font-size: 16px;
    }
}